
.container {
    margin-top: 20px;
    display: flex;
}

.fondo {
    display: inline;
    background-color:orange;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.fondo div {
    margin-top: 20px;
}
.condoro {
    width: 300px;
    margin-top: 50px;
    margin-left: 50px;
}
